.big{
  padding: 15px;
  margin: 15px;
	font-size: 300%;
} 

.center{
	text-align: center;
  margin-left: auto;
}
.progress-bar {
  margin: 10px;
  width: 100%;
  background-color: #b3ffff;
  border-radius: 10px;

}

.myBar {
  width: 10%;
  height: 10px;
  background-color: #009999;
  border-radius: 10px;
}

.protein{
  color:  #4dc3ff;
}
.fat{
color: #4CAF50;
}
.carbs{
  color: #ff1a1a;
}

.btn-add{
  font-size: 200% ;
  font-weight: 500;
}

// th {

//   color: white;
// }